

<div class="page-wrapper">

  <!-- Header Left Column (Headshot) - To update this image please go to line 232 in the css stylesheet -->

  <div class="left-column-portfolio">
    <div class="left-column-portfolio-copy">
      <h1>Timer App</h1>
      <p>The Timer App is an iOS app design to be the cleanest and most simple timer app ever created. Stop, start and time yourself.</p>
      <a href="#" class="blue-button w-arrow">Visit Project</a>
      <div class="divider"></div>
    </div>
  </div>



  <div class="right-column-fixed">
    <!-- Nav -->
    <div class="nav-overlay animated">
      <div class="nav-inner">
        <ul>
          <li>
            <a href="../../index.html">Home</a>
          </li>
          <li>
            <a href="../../index.html#about-me">About Me</a>
          </li>
          <li>
            <a href="../../index.html#works">Works</a>
          </li>
          <li>
            <a href="../../index.html#resume">My Resume</a>
          </li>
          <li>
            <a href="../../index.html#hello">Say Hello</a>
          </li>
        </ul>
        <div class="divider"></div>
      </div>
    </div>


    <a href="#" class="hamburger hamburger--spin">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </a>

    <div class="right-column-inner no-padding">
      <!-- Mobile App Slider -->
      <div class="portfolio-slider mobile-app-portfolio">
        <div class="portfolio-slider-inner">
          <div class="slider">
            <div>
              <img src="http://via.placeholder.com/640x496.jpg"/>
            </div>
            <div>
              <img src="http://via.placeholder.com/640x496.jpg"/>
            </div>
            <div>
              <img src="http://via.placeholder.com/640x496.jpg"/>
            </div>
            <div>
              <img src="http://via.placeholder.com/640x496.jpg"/>
            </div>
            <div>
              <img src="http://via.placeholder.com/640x496.jpg"/>
            </div>
            <div>
              <img src="http://via.placeholder.com/640x496.jpg"/>
            </div>
          </div>

        </div>

        <div class="slider-pagination"></div>

      </div>

    </div>


    <div class="right-column-inner">
      <div class="portfolio-copy">
        <p>This area is a copy placeholder for you to give more information about the above project. You can add as much or as little info here as you want about your kick-ass project.</p>
      </div>
      <div class="divider"></div>

      <app-footer></app-footer>

    </div>

  </div>
</div>
